/* Hide Streamlit default menu and footer */
#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

/* App background */
.stApp {
    background-color: #0E1117;
    color: white;
}

/* Titles */
h1 {
    color: #4F9DFF;
    font-weight: 700;
}

h2, h3 {
    color: #60A5FA;
}

/* Buttons */
.stButton>button {
    background-color: #2563EB;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.6rem;
    font-weight: bold;
}

.stButton>button:hover {
    background-color: #1D4ED8;
}

/* Selectbox */
.stSelectbox div[data-baseweb="select"] {
    border-radius: 10px;
}

/* Metric */
[data-testid="stMetric"] {
    background-color: #1C1F26;
    border-radius: 12px;
    padding: 15px;
}

/* Success */
.stSuccess {
    border-radius: 10px;
}

/* Error */
.stError {
    border-radius: 10px;
}

/* Info */
.stInfo {
    border-radius: 10px;
}